.header {
    padding: 15px;
    font-family: 'Georgia';
    background-color: #552F75;
    color: #177D8C;
}

.header h1 {
    display: inline;
    font-size: 45px;
    margin-left: 10px
}

.header nav {
    padding-top: 5px;
    margin-right: 45px;
    float: right;
    font-family: 'Georgia';
    font-size: 20px;
    
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
    margin-left: 25px;
}

a {
    color: #177D8C;
    font-weight: bold;
    text-decoration: none;
}

img {
    height: 25%;
    width: 100%;
}
